body{
    background-color:  #f34040;
    color: #23b823;
}

section{
    background: darkolivegreen ;
    padding-top: 60px ;
    padding-bottom: 60px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center;
}

.chamada-texto{
    margin-right: 100px ;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}